{:api-server      ""
 :secret          ""
 :https-port      443
 :shard-count     10000     ;; No. Shards to Request
 :cache-size      16000     ;; Disk Cache - MB
 :burst-limit     8000      ;; Bandwidth Limit - KB/s (0 = No Limit)
 :egress-limit    0         ;; Data Limit - MB/Hr (0 = No Limit)
 :influx-metrics  nil       ;; InfluxDB URL (nil = disable)
 :file-logging    true      ;; Enable file rotating logger
 }

